# Intellij IDEA's standard project folder

smartygui_modloader/.idea/
smartygui_fabric/.idea/

# Fabric-loom

smartygui_fabric/.gradle/
smartygui_fabric/build/
smartygui_fabric/run/

# MCP

smartygui_modloader/out/

smartygui_modloader/bin/
smartygui_modloader/eclipse/
smartygui_modloader/conf/
smartygui_modloader/docs/
smartygui_modloader/jars/
smartygui_modloader/lib/
smartygui_modloader/logs/
smartygui_modloader/reobf/
smartygui_modloader/runtime/
smartygui_modloader/src_utc/
smartygui_modloader/temp/

smartygui_modloader/cleanup.bat
smartygui_modloader/decompile.bat
smartygui_modloader/recompile.bat
smartygui_modloader/reobfuscate.bat
smartygui_modloader/setup.bat
smartygui_modloader/setup.sh
smartygui_modloader/startclient.bat
smartygui_modloader/startserver.bat
smartygui_modloader/updatemcp.bat
smartygui_modloader/updatemd5.bat

smartygui_modloader/src/*
!smartygui_modloader/src/minecraft/
smartygui_modloader/src/minecraft/*
!smartygui_modloader/src/minecraft/net/
smartygui_modloader/src/minecraft/net/*
!smartygui_modloader/src/minecraft/net/minecraft/
smartygui_modloader/src/minecraft/net/minecraft/client/*
smartygui_modloader/src/minecraft/net/minecraft/isom/*
smartygui_modloader/src/minecraft/net/minecraft/src/*
!smartygui_modloader/src/minecraft/net/minecraft/src/mod_FolderRecipes.java